@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Medellin<br />
    Colombia<br />
    <abbr title="Phone">P:</abbr>
    574-3136860521
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:cesarlondono@gmail.com">Cesar Londoño</a><br />
</address>